h1 {
  padding: 0.25rem 0px 1rem;
}

.title-spacing {
  margin-top: 0px;
  margin-bottom: 10px;
}

.custom-divider {
  margin-top: -20px;
  border-top: 2px solid #e0e0e0;
}

@media (max-width: 640px) {
  .st-emotion-cache-keje6w {
    min-width: 5px;
  }

  #root>div:nth-child(1)>div.withScreencast>div>div>div>section.main.st-emotion-cache-bm2z3a.ea3mdgi8>div.block-container.st-emotion-cache-1jicfl2.ea3mdgi5>div>div>div>div:nth-child(2) {
    display: contents;
  }

  /* .st-emotion-cache-1idizjf {
    gap: 0.1rem;
  }

  .st-emotion-cache-ocqkz7 {
    gap: 0.1rem;
  } */


}

.st-emotion-cache-2vxabl {
  gap: 0.1rem;
}

.st-emotion-cache-1jicfl2 {
  padding: 1rem 1rem 10rem;
}

footer {
  visibility: hidden;
}




/* 
@media (max-width: 640px) {
  .st.emotion-cache-keje6w {
    min-width: 0px;
  }
} */
/* 
#root>div:nth-child(1)>div.withScreencast>div>div>div>section.main.st-emotion-cache-bm2z3a.ea3mdgi8>div.block-container.st-emotion-cache-1jicfl2.ea3mdgi5>div>div>div>div:nth-child(9)>iframe {
  height: 300rem;
} */